/* text */
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  
  /* icons */
  @font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.woff?eu0ody') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-check-circle:before {
    content: "\e900";
  }
  .icon-heart:before {
    content: "\e901";
  }
  .icon-mail:before {
    content: "\e902";
  }
  .icon-map-pin:before {
    content: "\e903";
  }
  .icon-moon:before {
    content: "\e904";
  }
  .icon-star:before {
    content: "\e905";
  }
  .icon-sun:before {
    content: "\e906";
  }
  